<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>FindFineFlight - поиск авиабилетов</title>
</head>
<body>
<header>
    <a class="logo" href="/">FindFineFlight</a>
    <a sec:authorize="isAuthenticated()" class="float-end" href="/orders"><i class="bi bi-search"></i> Заказы</a>
    <a sec:authorize="isAuthenticated()" class="float-end" th:href="@{/logout}"><i class="bi bi-door-closed-fill"></i> Выйти</a>
    <a sec:authorize="isAnonymous()" class="float-end" th:href="@{/login}"><i class="bi bi-door-open-fill"></i> Войти</a>
    <a sec:authorize="isAnonymous()" class="float-end" th:href="@{/registration}"><i class="bi bi-envelope-at-fill"></i> Регистрация</a>
</header>
<section id="banner">
    <div class="inner">
        <h1>Найти рейсы</h1>
    </div>
</section>
<div class="main-agileinfo">
    <div class="sap_tabs">
        <div id="horizontalTab">
            <ul class="resp-tabs-list">
                <li class="resp-tab-item"><span>Туда-обратно</span></li>
                <li class="resp-tab-item"><span>Только туда</span></li>
            </ul>
            <div class="resp-tabs-container">
                <div class="tab-1 resp-tab-content roundtrip">
                    <form action="/flights/search" method="post">
                        <div class="from">
                            <h3>Откуда</h3>
                            <input type="text" name="dept_city" class="city1" placeholder="Введите город отправления" required="">
                        </div>
                        <div class="to">
                            <h3>Куда</h3>
                            <input type="text" name="dest_city" class="city2" placeholder="Введите город назначения" required="">
                        </div>
                        <div class="clear"></div>
                        <div class="date">
                            <div class="depart">
                                <h3>Дата отправления</h3>
                                <input id="datepicker" name="depart_time" type="text" required="">
                            </div>
                            <div class="return">
                                <h3>Дата возвращения</h3>
                                <input id="datepicker1" name="arrival_time" type="text" required="">
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="class">
                            <h3>Класс</h3>
                            <select id="w3_country" name="travel_class" onchange="change_country(this.value)" class="frm-field required">
                                <option value="ECO">Эконом</option>
                                <option value="BUS">Бизнес</option>
                            </select>
                        </div>
                        <div class="clear"></div>
                        <div class="numofppl">
                            <div class="adults">
                                <h3>Количество пассажиров:</h3>
                                <div class="quantity">
                                    <div class="quantity-select">
                                        <input type="number" name="tickets_amount" placeholder="1">
                                    </div>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                        <input type="submit" value="Найти рейсы">
                    </form>
                </div>
                <div class="tab-1 resp-tab-content oneway">
                    <form action="/flights/search" method="post">
                        <div class="from">
                            <h3>Откуда</h3>
                            <input type="text" name="dept_city" class="city1" placeholder="Введите город отправления" required="">
                        </div>
                        <div class="to">
                            <h3>Куда</h3>
                            <input type="text" name="dest_city" class="city2" placeholder="Введите город назначения" required="">
                        </div>
                        <div class="clear"></div>
                        <div class="date">
                            <div class="depart">
                                <h3>Дата отправления</h3>
                                <input class="date" name="depart_time" id="datepicker2" type="text" required="">
                                <input class="date" name="arrival_time" style="display: none;" value="">
                            </div>
                        </div>
                        <div class="class">
                            <h3>Класс</h3>
                            <select id="w3_country1" name="travel_class" onchange="change_country(this.value)" class="frm-field required">
                                <option value="ECO">Эконом</option>
                                <option value="BUS">Бизнес</option>
                            </select>
                        </div>
                        <div class="clear"></div>
                        <div class="numofppl">
                            <div class="adults">
                                <h3>Количество пассажиров:</h3>
                                <div class="quantity">
                                    <div class="quantity-select">
                                        <input type="number" name="tickets_amount" placeholder="1">
                                    </div>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                        <input type="submit" value="Искать рейсы">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<footer id="footer">
    <div class="inner">
        <p>Сервис создан с <i class="bi bi-suit-heart-fill"></i> в 2023 году студентом РТУ МИРЭА из группы ИКБО-20-19 <a href="https://t.me/exhaustedaf">Верешкиным Николаем</a>.</p>
    </div>
</footer>
<script src="/js/script.js" type="text/javascript"></script>
<script src="/js/bootstrap.min.js" type="text/javascript"></script>
</body>
</html>